/* 
 * @author Brandon
 */

.root{
    -fx-background-color: #004400;
    -fx-font-size: 11;
}

/* Uses a style on all label objects */
.label{
    -fx-text-fill: #e8e8e8;
}

/* Uses a style on all button objects. Also, we can do gradients, which is cool. */
.button{
    -fx-background-color: linear-gradient(#7cafe2, #1683ac);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10; /* How rounded the button is. */
}

/* Sets these properties to whatever objects were given the same ID in our source code. */
#bold-label{
    -fx-font-weight: bold;
}

#game-pane{
    -fx-background-color: #006600;
}

/* Use to help find the pane you're working with */
#test-pane{
    -fx-background-color: #440000;
}